body,html{
    height: 100%;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.miamistatue, .yuvalportrait, .floweryhome, .tetouanstreet{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.miamistatue {
    background-image: url("https://i.imgur.com/lDdObsM.jpg");
    height: 100%;
}
.yuvalportrait {
    position: relative;
    background-image: url("https://i.imgur.com/J8pFim1.jpg");
    background-position-y: 20%;
    height: 100%;
}
.floweryhome {
    background-image: url("https://i.imgur.com/vhFMJHZ.jpg");
    height: 100%;
    z-index: 101;
}
.tetouanstreet {
    background-image: url("https://i.imgur.com/kdUHHPL.jpg");
    height: 100%;
}
.textblock{
    position: relative;
    background-color: seashell;
    opacity: 40%;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
}
h3.mine {
    font-size: 23px;
    color: navy;
    font-weight: 325;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 5px;
    letter-spacing: 6px;
}
h2.mine {
    font-size: 20px;
    color: navy;
    font-weight: 400;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 3px;
}
h4.mine {
    font-size: 25px;
    color: rgb(212, 193, 169);
    font-weight: 300;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}
h5.mine {
    font-size: 25px;
    color: rgb(233, 204, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    letter-spacing: 2px;
}
p.mine {
    font-size: 15px;
    color:rgba(83, 78, 78, 1);
    font-weight: 400;
    text-align: center;
}
.header {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0);
}
.header span.border {
    background-color:rgba(83, 78, 78, 0.418);
    color: #fff;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 8px;
}
.portraitcaption {
    position: relative;
    left: 0%;
    top: 40%;
    width: 100%;
    text-align: center;
}
.portraitcaption span.border {
    background-color:rgba(83, 78, 78, 0.418);
    color: rgb(245, 225, 225);
    position: relative;
    font-size: 25px;
    letter-spacing: 8px;
}
nav{
    z-index: 100;
    position: fixed;
    top: 5%;
    left: 5%;
    height: 70px;
    width: 20%;
}
nav .navmenu{
    position: relative;
    display: inline-block;
}
nav .navmenu a img{
    display: block;
    opacity: 90%;
    padding: 0 0px;
    margin: 0;
    background: none;
    transition: .5s;
    -webkit-transition: -webkit-transform .4s ease-in-out;
}
nav .navmenu:hover a img{
    background: #38545e;
    rotate: 90%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
nav .navmenu:hover ul li{
    opacity: 90%;
    transition: .5s;
}
nav .navmenu ul{
    position: relative;
    left: -24%;
    width: 200%;
    margin: 0;
}
nav .navmenu ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border-bottom: 1px solid #042331;
    list-style-type: none;
    background-color: #38545e;
    width: 30%;
    border-top: none;
    opacity: 0%;
}
nav .navmenu ul li a, nav .navmenu ul li a.visited{
    text-decoration: none;
    font-size: 20px;
}
.copyrightbox {
    position: relative;
    left: 0%;
    top: 90%;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0);
    color:rgb(216, 91, 195);
}
.copyrightbox span.copyright {
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
}
span.float{
    position: absolute;
    background-color: rgba(34, 38, 49, 0.96);
}