body,html{
    height: 100%;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-position: center;
    background-repeat: repeat;
    background-image: url("https://i.imgur.com/5qbPkL8.jpg");
    background-size: fill;
}
h3.mine {
    font-size: 25px;
    color: navy;
    font-weight: 325;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 6px;
}
h2.mine {
    font-size: 25px;
    color: navy;
    font-weight: 400;
    margin: 2px;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 1px;
    background-color: lavenderblush;
    background-blend-mode: lighten;
    transition: 0.5s;
}
h2.mine:hover, h2.mine:active, h2.mine:focus {
    background-color: rgba(238, 211, 236);
}
h4.mine {
    font-size: 25px;
    color: rgb(51, 49, 46);
    font-weight: 300;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
}
.header {
    position: absolute;
    left: 0%;
    top: 15%;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    cursor: default;
    opacity: 0;
}
.header span.border {
    background-color:rgba(83, 78, 78, 0.418);
    color: #fff;
    padding: 10px;
    font-size: 35px;
    letter-spacing: 8px;
    word-spacing: 10px;
    transition: 0.5s;
}
.header span.border:hover, .header span.border:active, .header span.border:focus{
    background-color:rgba(83, 78, 78, 0.7);
}
.codebox{
    position: relative;
    vertical-align: top;
    display: inline-block;
    top: 40%;
    left: 5%;
    width: 90%;
    margin-bottom: 7%;
}
.code{
    position: relative;
    width: 40%;
    height: 250px;
    font-size: 18px;
    margin-bottom: 7%;
    display: inline-block;
    vertical-align: top;
    cursor: default;
}
.gist-data{
    height: 250px;
    width: 100%;
    overflow-y: visible;
    display: inline-block;
    vertical-align: top;
}
canvas.animation{
    height: 400px;
    width: 400px;
    left: 50%;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
img.example {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.videoexample{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.videoexample iframe, .videoexample object, .videoexample embed {
    position: relative;
    margin: 0;
    width: 100%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}
a.pagelinks h4.page {
    color: #fff;
    margin-top: inherit;
    font-size: 18px;
    letter-spacing: 8px;
    word-spacing: 10px;
}
a.pagelinks h4.page span{
    background-color:rgba(54, 85, 73, 0.418);
    transition: 0.5s;
}
a.pagelinks h4.page span:hover{
    background-color:rgba(85, 54, 73, 0.418);
}
a.pagelinks{
    display: inline-block;
    margin-top: 5%;
}
a.pagelinks, a.pagelinks:hover, a.pagelinks:active, a.pagelinks:visited {
    text-decoration: none;
}
.content{
    position: absolute;
    margin-top: 50%;
    opacity: 0;
}